<p>Hi <%= @application.full_name %>,</p>

<p>
  Thank you for applying for Genstudent. We will look through your application and you will be notified by us within 48h.
</p>

<p>-------------------------------------------------------</p>

<p style="font-weight: bold">Thanks,</p>
<p>The GenStudent Team.</p>
