<p>Dear customer,</p>
<br>

<p>Thank you for subscribing to one of our services provided by our top students. We will be in touch with you within 48 hours.</p>

<p>You have subscribed to the service <span style="font-weight: bold"><%= @order.service.title %></span>.</p>
<p>Your assigned student is <span style="font-weight: bold"><%= @order.service.student.full_name %></span>.</p>

<p>If you have questions about the process, please don't hesitate to ask us.</p>
<br>

<p style="font-weight: bold">Thanks,</p>
<p>The GenStudent Team.</p>
