<!-- Your footer code -->
<div class="footer-white">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-s-12 col-sm-3 col-m-3 text-center">
        <div class="row">
          <div class="col-xs-12 col-s-12 col-sm-12 col-m-12">
            <div class="gen-footer-header"><span>FOLLOW US</span></div>
            <ul class="list-inline">
              <li><a href="www.facebook.com/Fuya.Waldshut"><i class="fa fa-facebook-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-s-12 col-sm-3 col-m-3 text-center">
        <div class="row">
          <div class="col-xs-12 col-s-12 col-sm-12 col-m-12">
            <div class="footer-column">
              <div class="gen-footer-header"><span>ÖFFNUNGSZEITEN</span></div>
              <div class="footer-content">
                <p class="footer-subheader">Mo - So</p>
                <p class="footer-detail">11:30 – 14:30 / 17:30 – 22:30</p>
                <p class="footer-subheader">Di</p>
                <p class="footer-detail">geschlossen</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-s-12 col-sm-3 col-m-3 text-center">
        <div class="row">
          <div class="col-xs-12 col-s-12 col-sm-12 col-m-12">
            <div class="footer-column">
              <div class="gen-footer-header"><span>ADRESSE</span></div>
              <div class="gen-footer-detail">Eisenbahnstr. 23</div>
              <div class="gen-footer-header"><span>TEL.</span></div>
              <div class="gen-footer-detail">+49 (0)7751 8962680</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-s-12 col-sm-3 col-m-3 text-center">
        <div class="row">
          <div class="col-xs-12 col-s-12 col-sm-12 col-m-12">
            <ul class="list-unstyled gen-footer-links">
              <li><%= link_to 'Privacy' %></li>
              <li><%= link_to 'Terms and Conditions' %></li>
              <li><%= mail_to 'info@fuya-waldshut.de', 'Contact Us' %></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 text-center footer-copyright">
        <p>© Fuya Walshut - Running Sushi and more...</p>
      </div>
    </div>
  </div>
</div>
