<div class="gen-wrapper space-nav-ind">
  <div class="book-show-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-s-12 col-sm-4 col-m-4">
          <div class="testing"></div>
        </div>
        <div class="col-xs-12 col-s-12 col-sm-5 col-m-5">
          <div class="testing"></div>
        </div>
        <div class="col-xs-12 col-s-12 col-sm-3 col-m-3">
          <div class="testing"></div>
        </div>
      </div>
    </div>
  </div>
</div>

