// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padded-3 {
  padding: 1.25em 0;
}
.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-right-5 {
  padding-right: 5px;
}
.no-padding-side {
  padding-right: 0;
  padding-left: 0;
}
.pad-left-right-25 {
  padding: 0 12.5px;
}
.pad-25-right {
  padding-right: 25px;
}
.no-pad-left {
  padding-left: 0;
}
.no-pad-right {
  padding-right: 0;
}
.pad-top-bot {
  padding: 25px 0;
}
.pad-top-6 {
  padding-top: 6px;
}
.pad-top-7 {
  padding-top: 7px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-top-25 {
  padding-top: 25px;
}
.pad-top-50 {
  padding-top: 50px;
}
.pad-bot-10 {
  padding-bottom: 10px;
}
.no-padding {
  padding: 0;
}

// Margins
.marged-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.no-margin-bot {
  margin-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.marg-bot-5 {
  margin-bottom: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bot-24 {
  margin-bottom: 1.5em;
}
.margin-bot-8 {
  margin-bottom: 0.5em;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
//Space
.space-25 {
  margin: 25px;
}
.space-top-20 {
  margin-top: 20px;
}
.space-top-30 {
  margin-top: 30px;
}
.space-top-home {
  margin-top: 10em;
}
.space-top-home-2 {
  margin-top: 5.625em;
}
.space-top-10 {
  margin-top: 10px;
}
.space-bot-1 {
  padding-bottom: 70px;
}
.space-bot-30 {
  padding-bottom: 30px;
}
.space-bot-45 {
  padding-bottom: 45px;
}
.space-bot-70 {
  padding-bottom: 70px;
}
.space-bot-15 {
  padding-bottom: 15px;
}
.space-top-25 {
  margin: 25px 0;
}
.space-nav {
  margin-top: 80px;
  z-index: 0;
}
.space-nav-ind {
  margin-top: 70px;
  z-index: 0;
}
.space {
  margin-bottom: 24px;
}
.space-1 {
  margin-bottom: 18px;
  margin-top: 0;
}
.space-top-2 {
  margin-top: 2em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-picture {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
// Buttons
.btn-genstudent {
  width: 100%;
  background-color: $dark-green;
  color: white;
}
.btn-contrast:hover, .btn-contrast:focus {
  border-color: #5a5a5a;
  background-color: #5a5a5a;
  color: #fff;
}
.btn:hover {
  text-decoration: none;
  color: white;
}
.btn-addlist:hover {
  opacity: 0.8;
}

// Positions
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
// Fonts
.font-25 {
  font-size: 25px;
}

// Miscs
hr {
    border: none;
    height: 1px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    opacity: 0.1;
}
.no-deco {
  text-decoration: none;
}
.big {
  height: 220px;
}
.middle {
  height: 150px;
}
#title {
  // margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}
.profile-form-header {
  h1 {
    font-size:24px;
    color: #5E5266;
    font-weight: 500;
  }
  span {
    font-weight: 700;
  }
}
.up-case {
  text-transform: uppercase;
}
.small-line {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: #C2C2C2;
}
.flex-inline {
  display: inline-flex;
  p {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
  }
}

// Color
.border-white {
  border-color: white;
}
