.gen-create-btn {
  width: 100%;
  background-color: #469AE0;
  color: white;
  text-decoration: none;
  border-color: #308edc;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  transition: all 0.4s ease-in-out;
  font-size: 1.125em;
  letter-spacing: 0.09em;
  text-transform: none;
  border-radius: 4em;
}
.gen-create-btn:hover {
  background-color: #2381d0;
  border-color: #1e6eb2;
  color: white;
  text-decoration: none;
}
.gen-create-btn:focus {
  background-color: #2381d0;
  color: white;
  border-color: #1e6eb2;
}
.gen-signup-form h2 {
  margin-bottom: 1em;
  text-align: center;
}
#session-form {
  label {
    font-size: 14px;
  }
  .checkbox label {
    font-size: 16px;
  }
  .form-control {
    background: transparent;
    width: 100%;
    padding-left: 0;
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    font-size: 1.25em;
    border-bottom: 1px solid #D3D3D3;
    color: #2B363F;
    display: inline-block;
  }
  input:focus {
    border-bottom: 1px solid #469AE0;
  }
}
